@model IEnumerable<pi2.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <table >
        <tr>
            <td>
                <div>
                    Search by basket product: @Html.TextBox("searchString")
                </div>
            </td>
            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>}

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                    Search by client : @Html.TextBox("searchString11")
                </div>
            </td>
            <td>
                <input type="submit" value="Search" id="submit" />
            </td>
        </tr>
    </table>}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fees_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.basket)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fees_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basket.client.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basket.product.name_prod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.basket.product.barcode_prod)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })|

            </td>
        </tr>
    }
    <a href="http://localhost:8080/report">Report All Orders in PDF </a>


</table>
